docker.enabled = false
singularity {
    enabled = true
    autoMounts = true
}
process {
    executor = 'local'         
    cpus = 30                   
    memory = '20 GB'  
    
    withName: 'TARGETFINDER' {
        maxForks = 128  
        cpus = 1
        memory = '2 GB'
    }           
}

